<script type="text/javascript" src='/components/jquery/dist/jquery.min.js'></script>

<script type="text/javascript" src='/customjs/newoption.js'></script>	
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/customjs/pie.js"></script>

	</body>
</html>