<% include ../partials/header %>


<div class="container">
	<h1 style="text-align:center;"><%=poll.name%></h1>
	
				<a href="/polls">Go Back</a>
		
	
	<div class="row">
		<div class="col-sm-12">
			  <div id="chart_div"></div>
		</div>	  
	</div>
</div>

<!--Div that will hold the pie chart-->
    <div id="chart_div"></div>

<% if (poll) { %>
     <script>
         var pollName = <%- JSON.stringify(poll.name) %>
         var pollOptions = <%- JSON.stringify(poll.options)  %>  
     </script>
<% } %>


<% include ../partials/footer %>
