<% include ../partials/header %>


<div class="container">
	
	
				
		
	
	<div class="row">
		<h1 style="text-align:center;"><%=poll.name%></h1>
		<div class="col-sm-12 col-sm-offset-4">
			  <div id="chart_div"></div>
			  <a href="/polls">Go Back</a>
			  <a href="/polls/<%= poll._id %>/edit">Vote </a>
		</div>	  
	</div>
</div>

<!--Div that will hold the pie chart-->
    <div id="chart_div"></div>

<% if (poll) { %>
     <script>
         var pollName = <%- JSON.stringify(poll.name) %>
         var pollOptions = <%- JSON.stringify(poll.options)  %>  
     </script>
<% } %>


<% include ../partials/footer %>
